<% @payments.each do |i| %>
	<tr id="<%= i.id %>entry" class="all_entries_row">
		<td id="payment_date"><%= i.payment_date.strftime("%m-%d-%Y") %></td>
		<td id="job_name"><%= shorten i.job.name %></td>
		<td id="destination_name"><%= shorten i.destination.name %></td>	
		<td id="wood_type" type_id="<%= i.wood_type %>"><%= WoodType.find(i.wood_type).name %></td>
		<td id="payment_num"><%= i.payment_num %></td>
		<td id="tickets"><%= i.tickets %></td>
		<td class="currency" id="tonnage"><%= @ac.give_pennies(i.tonnnage) %></td>
		<td class="currency" id="net_mbf"><%= @ac.give_pennies(i.net_mbff) %></td>
		<td class="currency" id="total_payment"><%= @ac.give_pennies(i.total_payment) %></td>
		<td><input type="button" value="edit" onclick="show_payment_inputs(<%= i.id %>, false)"> 
		<input type="button" value="del" onclick="delete_payment(<%= i.id %>)"></td>
	</tr>
<% end %>

<script>
	function stripe_the_table() {
		$('.all_entries_row:nth-child(2n)').css('background-color', '#E6E6E6')
	}
	stripe_the_table();
</script>