<% @payments.each do |i| %>
	<tr id="<%= i.id %>entry" class="all_entries_row">
		<td><%= i.payment_date %></td>
		<td><%= i.job.name %></td>
		<td><%= i.destination.name %></td>	
		<td><%= WoodType.find(i.wood_type).name %></td>
		<td><%= i.payment_num %></td>
		<td><%= i.tickets %></td>
		<td><%= i.tonnage %></td>
		<td><%= i.net_mbf %></td>
		<td><%= i.total_payment %></td>
		<td><input type="button" value="Delete" onclick="delete_payment_entry(<%= i.id %>)"></td>
	</tr>
<% end %>