<% @tickets.each do |i| %>
	<% @load_details = LoadDetail.find_all_by_ticket_id(i.id)%>
	<tr>
		<td><%= i.number %></td>
		<td> Todai </td>
		<td><%= Job.find(i.job_id).name %></td>	
		<td><%= Destination.find(i.destination_id)%></td>
		<td><%= WoodType.find(@load_details[0].wood_type).name %></td>
		<td><%= @load_details[0].load_type %></td>
		<td><%= Specie.find(@load_details[0].species_id).code %></td>
		<td><%= @load_details[0].amount %></td>
		<td><%= i.value %></td>
		<td><input type="button" value="edit"></td>
	</tr>
<% end %>


