<% @tickets.each do |i| %>
	<% @load_details = i.load_details %>
	<tr id="<%= i.id %>entry" class="all_entries_row">
		<td><%= i.number %></td>
		<td><%= i.delivery_date.strftime("%m-%d-%Y") %></td>
		<td><%= i.job.name %></td>	
		<td><%= i.destination.name %></td>
		<td><%= @woodtypes[i.wood_type-1].name %></td>
		<td><%= unless i.load_details.first.species_id == 0 then @species[@load_details.first.species_id-1].code else "PU" end %></td>
		<td><%= i.net_mbf %></td>
		<td><%= i.tonnage %></td>
		<td><%= i.value %></td>
		<td><input type="button" value="delete" onclick="delete_ticket_entry(<%= i.id %>);"></td>
	</tr>
<% end %>

<script>
	stripe_the_table();
</script>

