<% @tickets.each do |i| %>
	<% @load_details = i.load_details %>
	<% @code_str = ""; @load_details.each {|i| unless i == @load_details.first then @code_str = "#{@code_str},#{i.species_id}" else @code_str = "#{i.species_id}" end} %>
	
	<tr id="<%= i.id %>entry" class="all_entries_row">
		<td id="ticket_number"><%= i.number %></td>
		<td id="delivery_date"><%= i.delivery_date.strftime("%m-%d-%Y") %></td>
		<td id="job_name"><%= i.job.name %></td>	
		<td id="destination_name"><%= i.destination.name %></td>
		<td id="wood_type" type_id="<%= i.wood_type %>"><%= @woodtypes[i.wood_type-1].name %></td>
		<td id="species" species_ids="<%= @code_str %>"><%= unless i.load_details.first.species_id == 0 then @species[@load_details.first.species_id-1].code else "PU" end %></td>
		<td id="net_mbf"><%= i.net_mbf %></td>
		<td id="tonnage"><%= i.tonnage %></td>
		<td class="currency" id="load_pay"><%= @ac.give_pennies(i.value) %></td>
		<td><input type="button" value="delete" onclick="show_ticket_inputs(<%= i.id %>);"></td>
	</tr>
<% end %>

<script>
	stripe_the_table();
</script>

