var ticket_no = '<%= params[:ticket_num] %>'
var date = '<%= params[:delivery_date] %>'
var job_name = '<%= params[:job_name] %>'
var load_pay = '<%= params[:value] %>'
<% @sp_str = ""; @specie_codes.each {|i| unless i == @specie_codes.first then @sp_str = "#{@sp_str}, #{i}" else @sp_str = "#{i}" end } %>

<% if @sp_str == "" then @sp_str = "PU" end %>

$('#current_entries tbody').append('\
	<tr id="<%= @ticket.id %>entry" class="current_entries_row">\
		<td id="ticket_number">'+ticket_no+'</td>\
		<td id="delivery_date">'+date+'</td>\
		<td id="job_name"><%= shorten params[:job_name] %></td>\
		<td id="destination_name"><%= shorten params[:destination_name] %></td>\
		<td id="wood_type" type_id="<%= @ticket.wood_type %>"><%= WoodType.find(params[:wood_type]).name %></td>\
		<td id="species"><%= @sp_str %></td>\
		<td id="net_mbf"><%= @ticket.net_mbf %></td>\
		<td id="tonnage"><%= @ticket.tonnage %></td>\
		<td id="load_pay"><%= @ac.give_pennies(@ticket.value)%></td>\
		<td><input type="button" value="edit" onclick="show_ticket_inputs(<%= @ticket.id %>)" /> \
		<input type="button" value="del" onclick="delete_ticket(<%= @ticket.id %>)"></td>\
	</tr>');

$('.specie_row').each(function(){
	$(this).fadeOut();
	setTimeout(function() {
		$(this).remove();
	}, 620);
});

$('input.fields').attr('value', '');
$('#tonnage').attr('value', '0');
$('#load_1_mbfs').attr('value', '0');
$('#net_mbf').attr('value', '0');
$('#job_name').html('');
$('#destination_name').val(-1);
$('#wood_type').val(-1);
$('#species_1').val(-1);
$('input').first().focus();

refresh_all_entries('ticket');