var ticket_no = '<%= params[:ticket_num] %>'
var date = '<%= params[:delivery_date] %>'
var job_name = '<%= params[:job_name] %>'
var destination_name = '<%= params[:destination_name] %>'
var load_pay = '<%= params[:value] %>'
<% @sp_str = ""; @species.each {|i| unless i == @species.first then @sp_str = "#{@sp_str}, #{i}" else @sp_str = "#{i}" end } %>


$('#current_entries tbody').append('<tr class="current_entries_row">')
	$('#current_entries tbody').append('<td>'+ticket_no+'</td>')
	$('#current_entries tbody').append('<td>'+date+'</td>')
	$('#current_entries tbody').append('<td>'+job_name+'</td>')
	$('#current_entries tbody').append('<td>'+destination_name+'</td>')
	$('#current_entries tbody').append('<td><%= WoodType.find(params[:wood_type]).name %></td>')
	$('#current_entries tbody').append('<td><%= @sp_str %></td>')
	$('#current_entries tbody').append('<td><%= @ticket.tonnage %></td>')
	$('#current_entries tbody').append('<td><%= @ticket.net_mbf %></td>')
	$('#current_entries tbody').append('<td>'+load_pay+'</td>')
	$('#current_entries tbody').append('<td><input type="button" value="Edit"/> </td>')
$('#current_entries tbody').append('</tr>')

$('input.fields').attr('value', '');
$('input').first().focus();

refresh_all_entries('ticket');