$('#current_entries tbody').append('\
	<tr id="<%= @pfd.id %>entry"  class="current_entries_row">\
		<td><%= @pfd.payment_date %></td>\
		<td><%= @job.name %></td>\
		<td><%= @destination.name %></td>\
		<td><%= WoodType.find(params[:wood_type]).name %></td>\
		<td><%= @pfd.payment_num %></td>\
		<td><%= @pfd.tickets %></td>\
		<td><%= @pfd.tonnage %></td>\
		<td><%= @pfd.net_mbf %></td>\
		<td><%= @pfd.total_payment %></td>\
		<td><input type="button" value="delete" onclick="delete_payment_entry(<%= @pfd.id %>)"/> </td>\
	</tr>');

$('input.fields').attr('value', '');
refresh_all_entries('payment');
