var ticket_no = '<%= params[:ticket_num] %>'
var date = '<%= params[:delivery_date] %>'
var job_name = '<%= params[:job_name] %>'
var destination_name = '<%= params[:destination_name] %>'
var load_pay = '<%= params[:value] %>'
<% @sp_str = ""; @specie_codes.each {|i| unless i == @specie_codes.first then @sp_str = "#{@sp_str}, #{i}" else @sp_str = "#{i}" end } %>
<% if @sp_str == "" then @sp_str = "PU" end %>

$('#current_entries tbody').append('\
	<tr id="<%= @ticket.id %>entry" class="current_entries_row">\
		<td>'+ticket_no+'</td>\
		<td>'+date+'</td>\
		<td>'+job_name+'</td>\
		<td>'+destination_name+'</td>\
		<td><%= WoodType.find(params[:wood_type]).name %></td>\
		<td><%= @sp_str %></td>\
		<td><%= @ticket.net_mbf %></td>\
		<td><%= @ticket.tonnage %></td>\
		<td>'+load_pay+'</td>\
		<td><input type="button" value="Delete" onclick="delete_ticket_entry(<%= @ticket.id %>)" /> </td>\
	</tr>');

$('input.fields').attr('value', '');
$('#tonnage').attr('value', '0');
$('#load_1_mbfs').attr('value', '0');
$('#net_mbf').attr('value', '0');
$('input').first().focus();

refresh_all_entries('ticket');