$('#current_entries tbody').append('\
	<tr id="<%= @pfd.id %>entry"  class="current_entries_row">\
		<td id="payment_date"><%= @pfd.payment_date.strftime("%m-%d-%Y") %></td>\
		<td id="job_name"><%= @job.name %></td>\
		<td id="destination_name"><%= @destination.name %></td>\
		<td id="wood_type" type_id="<%= i.wood_type %>"><%= WoodType.find(params[:wood_type]).name %></td>\
		<td id="payment_num"><%= @pfd.payment_num %></td>\
		<td id="tickets"><%= @pfd.tickets %></td>\
		<td id="tonnage"><%= @pfd.tonnage %></td>\
		<td id="net_mbf"><%= @pfd.net_mbf %></td>\
		<td class="currency" id="total_payment"><%= @ac.give_pennies(@pfd.total_payment) %></td>\
		<td><input type="button" value="delete" onclick="show_payment_inputs(<%= @pfd.id %>)"/> \
		<input type="button" value="del" onclick="delete_payment(<%= @pfd.id %>)"></td>\
	</tr>');

$('input.fields').attr('value', '');
$('#wood_type').val(-1);
$('#destination_name').val(-1);
$('#job_name').val(-1);
$('input').first().focus();
refresh_all_entries('payment');
