$('#current_entries tbody').append('<tr>')
	$('#current_entries tbody').append('<td><%= @pfd.payment_date %></td>')
	$('#current_entries tbody').append('<td><%= @job.name %></td>')
	$('#current_entries tbody').append('<td><%= @destination.name %></td>')
	$('#current_entries tbody').append('<td><%= WoodType.find(params[:wood_type]).name %></td>')
	$('#current_entries tbody').append('<td><%= @pfd.payment_num %></td>')
	$('#current_entries tbody').append('<td><%= @pfd.tickets %></td>')
	$('#current_entries tbody').append('<td><%= @pfd.tonnage %></td>')
	$('#current_entries tbody').append('<td><%= @pfd.net_mbf %></td>')
	$('#current_entries tbody').append('<td><%= @pfd.total_payment %></td>')
	$('#current_entries tbody').append('<td><input type="button" value="Edit"/> </td>')
$('#current_entries tbody').append('</tr>')

refresh_all_entries('payment');
