<div id="comparison_wrapper">
	<table>
		<tr>
			<th class="th">Type</th>
			<th class="th">From Tickets</th>
			<th class="th">From Payments</th>
			<th class="th">Diff</th>
		</tr>
		<tr>
			<td class="th">Payments</td>
			<td>$ <%= give_pennies @tickets_total %></td>
			<td>$ <%= give_pennies @payments_total %></td>
			<td>$ <%= give_pennies @value_diff %></td>
		</tr>
		<tr>
			<td class="th">MBF</td>
			<td><%= give_decimals @tickets_total_mbf %></td>
			<td><%= give_decimals @payments_total_mbf %></td>
			<td><%= give_decimals @mbf_diff %></td>
		</tr>
		<tr>
			<td class="th">Tons</td>
			<td><%= give_decimals @tickets_total_tonnage %></td>
			<td><%= give_decimals @payments_total_tonnage %></td>
			<td><%= give_decimals @tonnage_diff %></td>
		</tr>
		<tr>
			<td class="th">Tickets</td>
			<td><%= give_decimals @tickets.count %></td>
			<td><%= give_decimals @tickets_in_payments %></td>
			<td><%= give_decimals (@tickets.count - @tickets_in_payments) %></td>
		</tr>
	</table>	
</div>
