<div id="entry_form">
	<form action="/add_payment_entry_row" method="post" data-remote="true">
		<h4>New Entry</h4>
	<form action="/add_entry_row" method="post" data-remote="true">
		<table id="entry_table">
			<tr>
				<th>Date</th>
				<th>Job</th>
				<th>Destination</th>
				<th>Wood type</th>
				<th>Pmnt #</th>
				<th>Tckts</th>
				<th>Tons</th>
				<th>MBF</th>
				<th>Amount</th>
				<th>Action</th>
			</tr>
			<tr>
				<td>
					<input type="text" name="payment_date" id="payment_date" size="8" class="fields"/>
					<script> $('#payment_date').datepicker({ dateFormat: 'mm-dd-yy'}); $('#date').mask("99-99-9999", {placeholder: " "});</script>
				</td>
				<td>
					<select id="job_name">
						<option value="-1"></option>
						<%= @jobs.each do |i| %>
							<option value="<%= i.name %>"><%= i.name %></option>
						<% end %>
					</select>
				</td>
				<td>
					<select name="destination_name" id="destination_name">
						<option value="-1"></option>
						<% @destinations.each do |i| %>
							<option value="<%= i.name %>"><%= i.name %></option>
						<% end %>
					</select>
				</td>
				<td>
					<select name="wood_type" id="wood_type">
						<option value="-1"></option>
						<% WoodType.all.each do |i| %>
							<option value="<%= i.id %>"><%= i.name %></option>
						<% end %>					
					</select>
				</td>
				<td>
					<input id="payment_num" type="text" size="7" name="payment_num" class="fields"/>
				</td>
				<td>
					<input id="tickets" type="text" size="2" name="tickets" class="fields"/>
				</td>
				<td>
					<input id="tonnage" type="text" size="4" name="tonnage" class="fields"/>
				</td>
				<td>
					<input id="net_mbf" type="text" size="4" name="net_mbf" class="fields"/>
				</td>
				<td>
					<input id="amount" type="text" size="6" name="amount" class="fields" />
				</td>
				<td>
					<input id="submit_button" type="button" value="Submit" onclick="validated_submit();"/>
				</td>
			</tr>
		</table>
	</form>
</div>

<div id="current_entries">
	<h4>Current entries</h4>
	<table>
		<tr>
			<th class="table_headers" style="width: 100px;">Date</th>
			<th class="table_headers" style="width: 120px;">Job</th>
			<th class="table_headers" style="width: 150px;">Destination</th>
			<th class="table_headers" style="width: 100px;">Wood type</th>
			<th class="table_headers" style="width: 100px;">Pmnt #</th>
			<th class="table_headers" style="width: 50px;">Tckts</th>
			<th class="table_headers" style="width: 50px;">Tons</th>
			<th class="table_headers" style="width: 50px;">NMBF</th>
			<th class="table_headers" style="width: 80px;">Amount</th>
			<th class="table_headers" style="width: 100px;">Action</th>
		</tr>		
	</table>
</div>

<div id="all_entries">
	<h4>All Entries</h4>
	<table>
		<tr>
			<th class="table_headers" style="width: 100px;">Date</th>
			<th class="table_headers" style="width: 120px;">Job</th>
			<th class="table_headers" style="width: 150px;">Destination</th>
			<th class="table_headers" style="width: 100px;">Wood type</th>
			<th class="table_headers" style="width: 100px;">Pmnt #</th>
			<th class="table_headers" style="width: 50px;">Tckts</th>
			<th class="table_headers" style="width: 50px;">Tons</th>
			<th class="table_headers" style="width: 50px;">NMBF</th>
			<th class="table_headers" style="width: 80px;">Amount</th>
			<th class="table_headers" style="width: 100px;">Action</th>
		</tr>
	</table>
</div>

<script>
	
	function validated_submit() {
		if (check_field_data()) {
			var payment_num = $('#payment_num').attr('value');
			var destination_name = $('#destination_name :selected').text();
			var job_name = $('#job_name :selected').text();
			var net_mbf = $('#net_mbf').attr('value');
			var date = $('#payment_date').attr('value');
			var wood_type = $('#wood_type').val();
			var tonnage = $('#tonnage').attr('value');
			var amount = $('#amount').attr('value');
			var tickets = $('#tickets').attr('value');
			
			var url = "";
			url = url+'/add_payment_entry_row/?payment_date='+date+'&destination_name='+destination_name+'&job_name='+job_name+'&wood_type='+wood_type
			url = url+'&tonnage='+tonnage+'&amount='+amount+'&payment_num='+payment_num+'&tickets='+tickets+'&net_mbf='+net_mbf;
			
			$.ajax ({
				url: url,
				cache: false,
				method: 'POST',
				success: function() {
					
				}
			});
		}
	}
	
	
	function check_field_data() {
		var values = [];
		values.push([$('#payment_date').attr('value'), 'Payment date']);
		values.push([$('#payment_num').attr('value'), 'Payment number']);
		values.push([$('#job_name :selected').text(), 'Job']);
		values.push([$('#destination_name :selected').text(), 'Destination']);
		values.push([$('#wood_type :selected').text(), 'Wood type']);
		values.push([$('#tickets').attr('value'), 'Number of tickets']);
		values.push([$('#Amount').attr('value'), 'Amount']);
		
		if ($('#tonnage').attr('value') == "" && $('#net_mbf').attr('value') == "") {
			values.push(["", 'Either MBF or Tonnage']);
		}
		
		$('#entry_form table').after('<div id="feedback" style="color: red;"></div>');
		
		var everything_ok = true;
		
		for (i=0;i<values.length;i++) {
			if (values[i][0] == "") {
				$('#feedback').append('<div>'+values[i][1]+' missing </div>');
				everything_ok = false;
			}
		}
		
		setTimeout(function() {
			$('#feedback').fadeOut();
			setTimeout(function() {
				$('#feedback').remove();
			}, 620);
		}, 5000);
		
		return everything_ok;
	}

	/* Deletes a payment entry from both current and all entries and of course, from database*/
		
	function delete_payment_entry(id) {
		if (confirm("Are you sure you want to delete this payment?")) {
			$.ajax ({
				url: "/delete_payment_entry/"+id,
				cache: false,
				success: function() {
					$('#current_entries').find('#'+id+'entry').fadeOut();
					setTimeout(function() {
						$('#current_entries').find('#'+id+'entry').remove();
					}, 620);
				
					$('#all_entries').find('#'+id+'entry').fadeOut();
					setTimeout(function() {
						$('#all_entries').find('#'+id+'entry').remove();
					}, 620);
				}
			});
		}	
	}
	
	
	/*Script which is run when page loads. Loads all_entries section with payment data*/
	
	refresh_all_entries('payment');
</script>
