<div id="entry_form">
	<form action="/add_payment_entry_row" method="post" data-remote="true">
		<h4>New Entry</h4>
	<form action="/add_entry_row" method="post" data-remote="true">
		<table id="entry_table">
			<tr>
				<th class="table_headers">Date</th>
				<th class="table_headers">Job</th>
				<th class="table_headers">Destination</th>
				<th class="table_headers">Wood type</th>
				<th class="table_headers">Pmnt #</th>
				<th class="table_headers">Tckts</th>
				<th class="table_headers">Tons</th>
				<th class="table_headers">MBF</th>
				<th class="table_headers">Amount</th>
				<th class="table_headers">Action</th>
			</tr>
			<tr>
				<td>
					<input type="text" name="payment_date" id="payment_date" size="8" class="fields"/>
					<script> $('#payment_date').datepicker({ dateFormat: 'mm-dd-yy'}); $('#payment_date').mask("99-99-9999", {placeholder: " "});</script>
				</td>
				<td>
					<select id="job_name">
						<option value="-1"></option>
						<%= @jobs.each do |i| %>
							<option value="<%= i.id %>"><%= shorten i.name %></option>
						<% end %>
					</select>
				</td>
				<td>
					<select name="destination_name" id="destination_name">
						<option value="-1"></option>
						<% @destinations.each do |i| %>
							<option value="<%= i.id %>"><%= shorten i.name %></option>
						<% end %>
					</select>
				</td>
				<td>
					<select name="wood_type" id="wood_type">
						<option value="-1"></option>
						<% WoodType.all.each do |i| %>
							<option value="<%= i.id %>"><%= i.name %></option>
						<% end %>					
					</select>
				</td>
				<td>
					<input id="payment_num" type="text" size="7" name="payment_num" class="fields"/>
				</td>
				<td>
					<input id="tickets" type="text" size="2" name="tickets" class="fields"/>
				</td>
				<td>
					<input id="tonnage" type="text" size="4" name="tonnage" class="fields"/>
				</td>
				<td>
					<input id="net_mbf" type="text" size="4" name="net_mbf" class="fields"/>
				</td>
				<td>
					<input id="amount" type="text" size="6" name="amount" class="fields" />
				</td>
				<td>
					<input id="submit_button" type="button" value="Submit" onclick="validated_submit();"/>
				</td>
			</tr>
		</table>
	</form>
</div>

<div id="current_entries">
	<h4>Current entries</h4>
	<table>
		<tr>
			<th class="table_headers" style="width: 100px;">Date</th>
			<th class="table_headers" style="width: 120px;">Job</th>
			<th class="table_headers" style="width: 150px;">Destination</th>
			<th class="table_headers" style="width: 100px;">Wood type</th>
			<th class="table_headers" style="width: 100px;">Pmnt #</th>
			<th class="table_headers" style="width: 50px;">Tckts</th>
			<th class="table_headers" style="width: 50px;">Tons</th>
			<th class="table_headers" style="width: 50px;">NMBF</th>
			<th class="table_headers" style="width: 100px;">Amount</th>
			<th class="table_headers" style="width: 120px;">Action</th>
		</tr>		
	</table>
</div>

<div id="all_entries">
	<h4>All Entries</h4>
	<table>
		<tr>
			<th class="table_headers" style="width: 100px;">Date</th>
			<th class="table_headers" style="width: 120px;">Job</th>
			<th class="table_headers" style="width: 150px;">Destination</th>
			<th class="table_headers" style="width: 100px;">Wood type</th>
			<th class="table_headers" style="width: 100px;">Pmnt #</th>
			<th class="table_headers" style="width: 50px;">Tckts</th>
			<th class="table_headers" style="width: 50px;">Tons</th>
			<th class="table_headers" style="width: 50px;">NMBF</th>
			<th class="table_headers" style="width: 100px;">Amount</th>
			<th class="table_headers" style="width: 120px;">Action</th>
		</tr>
	</table>
</div>

<script>
	
	function validated_submit() {
		if (check_field_data()) {
			var payment_num = $('#payment_num').attr('value');
			var destination_id = $('#destination_name').val();
			var job_id = $('#job_name').val();
			var net_mbf = $('#net_mbf').attr('value');
			var date = $('#payment_date').attr('value');
			var wood_type = $('#wood_type').val();
			var tonnage = $('#tonnage').attr('value');
			var amount = $('#amount').attr('value');
			var tickets = $('#tickets').attr('value');
			
			var url = "";
			url = url+'/add_payment_entry_row/?payment_date='+date+'&destination_id='+destination_id+'&job_id='+job_id+'&wood_type='+wood_type
			url = url+'&tonnage='+tonnage+'&amount='+amount+'&payment_num='+payment_num+'&tickets='+tickets+'&net_mbf='+net_mbf;
			
			$.ajax ({
				url: url,
				cache: false,
				method: 'POST',
				success: function(html) {
					$('#current_entries tbody').append(html);
					$('input.fields').attr('value', '');
					$('#wood_type').val(-1);
					$('#destination_name').val(-1);
					$('#job_name').val(-1);
					$('input').first().focus();
					refresh_all_entries('payment');
				}
			});
		}
	}
	
	
	function check_field_data() {
		var values = [];
		values.push([$('#payment_date').attr('value'), 'Payment date']);
		values.push([$('#payment_num').attr('value'), 'Payment number']);
		values.push([$('#job_name :selected').text(), 'Job']);
		values.push([$('#destination_name :selected').text(), 'Destination']);
		values.push([$('#wood_type :selected').text(), 'Wood type']);
		values.push([$('#tickets').attr('value'), 'Number of tickets']);
		values.push([$('#Amount').attr('value'), 'Amount']);
		
		if ($('#tonnage').attr('value') == "" && $('#net_mbf').attr('value') == "") {
			values.push(["", 'Either MBF or Tonnage']);
		}
		
		$('#entry_form table').after('<div id="feedback" style="color: red;"></div>');
		
		var everything_ok = true;
		
		for (i=0;i<values.length;i++) {
			if (values[i][0] == "") {
				$('#feedback').append('<div>'+values[i][1]+' missing </div>');
				everything_ok = false;
			}
		}
		
		if (!validate_date($('#payment_date').val())) {
			$('#feedback').append('<div>Invalid date</div>');
			everything_ok = false;
		}
		
		setTimeout(function() {
			$('#feedback').fadeOut();
			setTimeout(function() {
				$('#feedback').remove();
			}, 620);
		}, 5000);
		
		return everything_ok;
	}

	function show_payment_inputs(id, current) {
		var where_from;
		var boolean_as_string = "";
		
		if (current) {
			where_from = $('#current_entries').find('#'+id+'entry');
			boolean_as_string = "true";
		} else {
			where_from = $('#all_entries').find('#'+id+'entry');
			boolean_as_string = "false";
		}
		
		var payment_date = where_from.find('#payment_date');
		var job_name = where_from.find('#job_name').html();
		var destination_name = where_from.find('#destination_name').html();
		var wood_type = where_from.find('#wood_type').html();
		var payment_num = where_from.find('#payment_num');
		var tickets = where_from.find('#tickets');
		var net_mbf = where_from.find('#net_mbf');
		var tonnage = where_from.find('#tonnage');
		var total_payment = where_from.find('#total_payment');
		
		where_from.find('td').fadeOut();
		
		var counter = 1;
		
		setTimeout(function() {
			where_from.find('td').each(function() {
				var value = $(this).html();
				var width = $('#all_entries th:nth-child('+counter+')').width();
				$(this).html('<input type="text" value="'+value+'" style="width: '+(width-18)+'px;" />');
				where_from.find('td').fadeIn();
				counter++;
			});
			
			// Following  blocks "overwrite" some of the fields of previous loop
			
			//The button for saving
			where_from.find('td').last().html('<input type="button" value="save" style="width:106px;" onclick="edit_payment_entry('+id+', '+boolean_as_string+')" />');
			
			//Select for job name
			where_from.find('#job_name').html('\
			<select id="job_name_select">\
				<% Job.all.each do |i| %>
					<option value="<%= i.id %>"><%= shorten i.name %></option>\
				<% end %>
			</select>\
			');
			
			//Setting the previous job name as default selection
			where_from.find('#job_name option').each(function() {
				if ($(this).html() == job_name) {
					$(this).attr('selected', 'true');
				}
			});
			
			//Same for Destinations
			where_from.find('#destination_name').html('\
			<select id="destination_name_select">\
				<% Destination.all.each do |i| %>
					<option value="<%= i.id %>"><%= shorten i.name %></option>\
				<% end %>
			</select>\
			');
			
			where_from.find('#destination_name option').each(function() {
				if ($(this).html() == destination_name) {
					$(this).attr('selected', 'true');
				}
			});
			
			//And wood types
			where_from.find('#wood_type').html('\
			<select id="wood_type_select">\
				<% WoodType.all.each do |i| %>
					<option value="<%= i.id %>"><%= i.name %></option>\
				<% end %>
			</select>\
			');
			
			where_from.find('#wood_type option').each(function() {
				if ($(this).html() == wood_type) {
					$(this).attr('selected', 'true');
				}
			});
		}, 620);
	}
	
	function edit_payment_entry(id, current) {
		var where_from;
		if (current) {
			where_from = $('#current_entries').find('#'+id+'entry');
		} else {
			where_from = $('#all_entries').find('#'+id+'entry');
		}
		
		var payment_date = where_from.find('#payment_date').find('input').val();
		var job_id = where_from.find('#job_name_select').val();
		var destination_id = where_from.find('#destination_name_select').val();
		var wood_type_id = where_from.find('#wood_type_select').val();
		var payment_num = where_from.find('#payment_num').find('input').val();
		var tickets = where_from.find('#tickets').find('input').val();
		var tonnage = where_from.find('#tonnage').find('input').val();
		var mbf = where_from.find('#net_mbf').find('input').val();
		var total_payment = where_from.find('#total_payment').find('input').val();
		
		var url = "/save_edited_payment_entry/"+id+"?payment_date="+payment_date+"&job_id="+job_id;
		url = url+"&destination_id="+destination_id+"&wood_type_id="+wood_type_id+"&payment_num="+payment_num;
		url = url+"&tickets="+tickets+"&tons="+tonnage+"&mbf="+mbf+"&total_payment="+total_payment;
		
		$.ajax ({
			url: url,
			cache: false,
			success: function() {
				fade_out_from_current_entries(id);
				refresh_all_entries('payment');
			}
		});
	}
	
	function fade_out_from_current_entries(id) {
		var where_from = $('#current_entries').find('#'+id+'entry');
		
		where_from.children().fadeOut();
	}
	
	function delete_payment(id) {
			if (confirm("Do you really want to delete this payment?")) {
				$.ajax({
					url: "/delete_payment/"+id,
					cache: false,
					success: function() {
						$('#all_entries').find('#'+id+'entry').fadeOut();
						$('#current_entries').find('#'+id+'entry').fadeOut();
					}
				});
			}
		}
	
	/*Script which is run when page loads. Loads all_entries section with payment data*/
	
	refresh_all_entries('payment');
</script>
