<div id="entry_form">
	<form action="/add_ticket_entry_row" method="post" data-remote="true">
		<h4>New Entry</h4>
		<table id="entry_table">
			<tr>
				<th class="table_headers">Ticket #</th>
				<th class="table_headers">Date</th>
				<th class="table_headers">Destination</th>
				<th class="table_headers">Wood type</th>
				<th class="table_headers">Species</th>
				<th class="table_headers">Tons</th>
				<th class="table_headers">MBF</th>
				<th class="table_headers">NMBF</th>
				<th class="table_headers">Load pay</th>
				<th class="table_headers">Action</th>
			</tr>
			<tr>
				<td>
					<input id="ticket_num" type="text" name="ticket_num" size="5" class="fields"/>
				</td>
				<td>
					<input type="text" name="delivery_date" id="delivery_date" size="8" class="fields"/>
					<script> $('#delivery_date').datepicker({ dateFormat: 'mm-dd-yy'}); $('#delivery_date').mask("99-99-9999", {placeholder: " "}); </script>
				</td>
				<td>
					<select name="destination_name" id="destination_name" onfocusout="enable_load_fields()">
						<option value="-1"></option>
						<% @destinations.each do |i| %>
							<option value="<%= i.name %>"><%= i.name %></option>
						<% end %>
					</select>
				</td>
				<td>
					<select id="wood_type" name="wood_type" onfocus="enable_load_fields();">
						<option value="-1"></option>
						<% WoodType.all.each do |i| %>
							<option value="<%= i.id %>"><%= i.name %></option>
						<% end %>					
					</select>
				</td>
				<td>
					<select class="specie_selector" name="species_1" id="species_1" onfocus="enable_load_fields();">
						<option value="-1"></option>
						<% Specie.all.each do |i| %>
							<option value="<%= i.id %>"><%= i.code %></option>
						<% end %>
						<option value="0">Pulp</option>
					</select>
				</td>
				<td>
					<input type="text" value="0" id="tonnage" size="4" name="tonnage" disabled="true" class="fields"/>
				</td>
				<td>
					<input id="load_1_mbfs" value="0" class="specie_mbfs" type="text" size="4" disabled="true" onchange="refresh_net_mbf('load_1_mbfs')" name="load_1_mbfs" class="fields"/>
				</td>
				<td>
					<input id="net_mbf" type="text" size="4" value="0" name="net_mbf" disabled="true" class="fields"/>
				</td>
				<td>
					<input id="value" type="text" size="8" name="value" class="fields"/>
				</td>
				<td>
					<input id="check_button" type="button" value="Submit" onclick="validated_submit()" />
				</td>
			</tr>
			<tr id="filler_row">
				<td colspan="3" >Job: <span id="job_name"></span></td>	
				<td id="Incredible_invisible_text">been</td>
				<td colspan="3"><%= link_to "Add another species", {:controller => "page_controls", :action => "add_specie"}, :remote => true, :id => "add_specie_button"%></td>			
			</tr>
		</table>
	</form>
</div>

<div id="current_entries">
	<h4>Current Entries</h4>
	
	<table>
		<tr>
			<th class="table_headers" style="width: 60px;">Ticket #</th>
			<th class="table_headers" style="width: 100px;">Date</th>
			<th class="table_headers" style="width: 100px;">Job</th>
			<th class="table_headers" style="width: 150px;">Destination</th>
			<th class="table_headers" style="width: 80px;">Wood type</th>
			<th class="table_headers" style="width: 60px;">Species</th>
			<th class="table_headers" style="width: 65px;">NMBF</th>
			<th class="table_headers" style="width: 60px;">Tons</th>
			<th class="table_headers" style="width: 80px;">Load pay</th>
			<th class="table_headers" style="width: 40px;">Action</th>
		</tr>
		
	</table>
	
</div>

<div id="all_entries">
	<h4>All Entries</h4>
	<table>
		<tr>
			<th class="table_headers" style="width: 60px;">Ticket #</th>
			<th class="table_headers" style="width: 100px;">Date</th>
			<th class="table_headers" style="width: 100px;">Job</th>
			<th class="table_headers" style="width: 150px;">Destination</th>
			<th class="table_headers" style="width: 80px;">Wood type</th>
			<th class="table_headers" style="width: 60px;">Species</th>
			<th class="table_headers" style="width: 65px;">NMBF</th>
			<th class="table_headers" style="width: 60px;">Tons</th>
			<th class="table_headers" style="width: 80px;">Load pay</th>
			<th class="table_headers" style="width: 40px;">Action</th>
		</tr>
		
	</table>

	
	<script>
		
		function validated_submit() {
			if (check_field_data()) {
				var ticket_num = $('#ticket_num').attr('value');
				var destination_name = $('#destination_name').val();
				var job_name = $('#job_name').html();
				var species = [$('#species_1').val()];
				var loads = [$('#load_1_mbfs').attr('value')];
				var delivery_date = $('#delivery_date').attr('value')
				
				if ($('#load_2_mbfs').attr('value') != undefined) {
					loads.push($('#load_2_mbfs').attr('value'));
					species.push($('#species_2').val());
				}
				if ($('#load_3_mbfs').attr('value') != undefined) {
					loads.push($('#load_3_mbfs').attr('value'));
					species.push($('#species_3').val());
				}
				if ($('#load_4_mbfs').attr('value') != undefined) {
					loads.push($('#load_4_mbfs').attr('value'));
					species.push($('#species_4').val());
				}
				if ($('#load_5_mbfs').attr('value') != undefined) {
					loads.push($('#load_5_mbfs').attr('value'));
					species.push($('#species_5').val());
				}
				
				var wood_type = $('#wood_type').attr('value');
				var tonnage = $('#tonnage').attr('value');
				var value = $('#value').attr('value');
				
				var loads_string = "";
				for (var i in loads) {
					loads_string = loads_string+'&mbfs[]='+loads[i];
				}
				
				var species_string = "";
				for (var i in species) {
					species_string = species_string+'&species[]='+species[i];
				}
				
				var url = "";
				url = url+'/add_ticket_entry_row/?ticket_num='+ticket_num+'&destination_name='+destination_name+'&job_name='+job_name+'&wood_type='+wood_type
				url = url+'&tonnage='+tonnage+loads_string+species_string+'&value='+value+'&delivery_date='+delivery_date;
				
				$.ajax ({
					url: url,
					cache: false,
					method: 'POST',
					success: function() {
						
					}
				});
			}
		}
		
		/* At this point, this function makes sure that all fields have a value. Disabled fields are not included.
		 * This is called by Check-button only. Does not validate the data in any way, yet.
		 */
		
		function check_field_data() {
			var values = [];
			values.push([$('#ticket_num').attr('value'), 'Ticket number']);
			values.push([$('#delivery_date').attr('value'), 'Delivery date']);
			values.push([$('#destination_name :selected').text(), 'Destination']);
			values.push([$('#wood_type :selected').text(), 'Wood Type']);
			values.push([$('#species_1 :selected').text(), 'Specie']);
			if ($('#tonnage').attr('disabled') == undefined) {
				values.push([$('#tonnage').attr('value'), 'Tonnage']);
			} else {
				if ($('#net_mbf').attr('disabled') == undefined) {
					values.push([$('#net_mbf').attr('value'), 'Net MBF']);
				}
			}
			values.push([$('#value').attr('value'), 'Ticket value']);
			
			$('#entry_form table').after('<div id="feedback" style="color: red;"></div>');
			
			var everything_ok = true;
			
			for (i=0;i<values.length;i++) {
				if (values[i][0] == "") {
					$('#feedback').append('<div>'+values[i][1]+' missing </div>');
					everything_ok = false; 
				}
			}
			
			setTimeout(function() {
				$('#feedback').fadeOut();
				setTimeout(function() {
					$('#feedback').remove();
				}, 620);
			}, 5000);
			
			return everything_ok;
		}
		
		/* When destination fields value changes, this function enables Tonnage/MBf fields according to the  
		 * trucker/logger rates in this job / destination combination. 
		 */
		function enable_load_fields() {
			var job_name = $('#job_name').html();
			var destination_name = $('#destination_name :selected').text();
			
			$('#tonnage').attr('disabled', 'true');
			$('#load_1_mbfs').attr('disabled', 'true');
			
			$.ajax ({
				url: '/get_load_type/?job_name='+job_name+'&destination_name='+destination_name,
			 	cache: false,
			 	success: function (answer) {
			 		if (answer == "Tonnage") {
			 			$('#tonnage').removeAttr('disabled');
			 		} else if (answer == "MBF") {
			 			$('#load_1_mbfs').removeAttr('disabled');
			 		} else if (answer == "Both") {
			 			$('#load_1_mbfs').removeAttr('disabled');
			 			$('#tonnage').removeAttr('disabled');
			 		}
			 	}
			 });
		}
		
		/* All the load_1_mbf, load_2_mbf etc have onchange event ponting to this function.
		 * This function takes values from those (they give themselves as parameter) and adds it up
		 * and puts it  to net_mbf field.
 		 */
		
		
		function refresh_net_mbf(where_from) {
			amount = 0;
			
			<% Specie.all.each do |i| %>
				if (String(parseFloat($('#load_'+<%= i.id %>+'_mbf').attr('value'))) != "NaN") {
					amount = amount + parseFloat($('#load_'+<%= i.id %>+'_mbf').attr('value'));
				}
			<% end %>
			
			$('#net_mbf').attr('value', amount);
		}
		
		/* Deletes a ticket entry from both current and all entries and of course, from database*/
		
		function delete_ticket_entry(id) {
			if (confirm("Are you sure you want to delete this ticket?")) {
				$.ajax ({
					url: "/delete_ticket_entry/"+id,
					cache: false,
					success: function() {
						$('#current_entries').find('#'+id+'entry').fadeOut();
						setTimeout(function() {
							$('#current_entries').find('#'+id+'entry').remove();
						}, 620);
					
						$('#all_entries').find('#'+id+'entry').fadeOut();
						setTimeout(function() {
							$('#all_entries').find('#'+id+'entry').remove();
						}, 620);
					}
				});
			}	
		}
		
		$(document).ready(function() {
			setTimeout(function () {
				$('#ticket_num').focus();
			}, 1000);
		});
		
		/* Inserts correct job when ticket is entered */
		
		$('#ticket_num').change(function() {
			$.ajax({
				url: '/get_job/'+$(this).attr('value'),
				cache: false,
				success: function (answer) {
					$('#job_name').html(answer)
				}
			})
		})
		
		// Recursively working infite timer
		function checkIt () {
			$('.specie_mbfs').each(function(){$(this).attr('disabled', 'true');});
			$('#tonnage').attr('disabled', 'true');
			
			var job_name = $('#job_name').attr('value');
			var destination_name = $('#destination_name').attr('value');
			
			if (job_name != "" && destination_name != "") {
				$.ajax({
					url: "/get_load_type/?job_name="+job_name+"&destination_name="+destination_name,
					cache: false,
					success: function (html) {
						if (html == "MBF") {
							$('.specie_mbfs').each(function(){$(this).removeAttr('disabled');});
						} else if (html == "Tonnage") {
							$('#tonnage').removeAttr('disabled');
						} else if (html == "Both") {
							$('.specie_mbfs').each(function(){$(this).removeAttr('disabled');});
							$('#tonnage').removeAttr('disabled');
						}
					}
				});
			}
		}
		
		/* Script to be run on every pageload */
		refresh_all_entries('ticket');
		
		
	</script>
</div>