<div id="entry_form">
	<form action="/add_ticket_entry_row" method="post" data-remote="true">
		<h4>New Entry</h4>
		<table id="entry_table">
			<tr>
				<th class="table_headers">Ticket #</th>
				<th class="table_headers">Date</th>
				<th class="table_headers">Destination</th>
				<th class="table_headers">Wood type</th>
				<th class="table_headers">Species</th>
				<th class="table_headers">Tons</th>
				<th class="table_headers">MBF</th>
				<th class="table_headers">NMBF</th>
				<th class="table_headers">Load pay</th>
				<th class="table_headers">Action</th>
			</tr>
			<tr>
				<td>
					<input id="ticket_num" type="text" name="ticket_num" size="5" class="fields"/>
				</td>
				<td>
					<input type="text" name="delivery_date" id="delivery_date" size="8" class="fields"/>
					<script> $('#delivery_date').datepicker({ dateFormat: 'mm-dd-yy'}); $('#delivery_date').mask("99-99-9999", {placeholder: " "}); </script>
				</td>
				<td>
					<select name="destination_name" id="destination_name" onfocusout="enable_load_fields()">
						<option value="-1"></option>
						<% @destinations.each do |i| %>
							<option value="<%= i.name %>"><%= shorten(i.name) %></option>
						<% end %>
					</select>
				</td>
				<td>
					<select id="wood_type" name="wood_type" onfocus="enable_load_fields();">
						<option value="-1"></option>
						<% WoodType.all.each do |i| %>
							<option value="<%= i.id %>"><%= i.name %></option>
						<% end %>					
					</select>
				</td>
				<td>
					<select class="specie_selector" name="species_1" id="species_1" onfocus="enable_load_fields();">
						<option value="-1"></option>
						<% Specie.all.each do |i| %>
							<option value="<%= i.id %>"><%= i.code %></option>
						<% end %>
						<option value="0">Pulp</option>
					</select>
				</td>
				<td>
					<input type="text" value="0" id="tonnage" size="4" name="tonnage" disabled="true" class="fields"/>
				</td>
				<td>
					<input id="load_1_mbfs" value="0" class="specie_mbfs" type="text" size="4" disabled="true" name="load_1_mbfs"/>
				</td>
				<td>
					<input id="net_mbf" type="text" size="4" value="0" name="net_mbf" disabled="true" class="fields"/>
				</td>
				<td>
					<input id="value" type="text" size="8" name="value" class="fields"/>
				</td>
				<td>
					<input id="check_button" type="button" value="Submit" onclick="validated_submit()" />
				</td>
			</tr>
			<tr id="filler_row">
				<td colspan="3" >Job: <span id="job_name"></span></td>	
				<td id="Incredible_invisible_text">been</td>
				<td colspan="3"><%= link_to "Add another species", {:controller => "page_controls", :action => "add_specie"}, :remote => true, :id => "add_specie_button"%></td>			
			</tr>
		</table>
	</form>
</div>

<div id="current_entries">
	<h4>Current Entries</h4>
	
	<table>
		<tr>
			<th class="table_headers" style="width: 70px;">Ticket #</th>
			<th class="table_headers" style="width: 90px;">Date</th>
			<th class="table_headers" style="width: 160px;">Job</th>
			<th class="table_headers" style="width: 170px;">Destination</th>
			<th class="table_headers" style="width: 90px;">Wood type</th>
			<th class="table_headers" style="width: 60px;">Species</th>
			<th class="table_headers" style="width: 60px;">NMBF</th>
			<th class="table_headers" style="width: 60px;">Tons</th>
			<th class="table_headers" style="width: 80px;">Load pay</th>
			<th class="table_headers" style="width: 100px;">Action</th>
		</tr>
		
	</table>
	
</div>

<div id="all_entries">
	<h4>All Entries</h4>
	<table>
		<tr>
			<th class="table_headers" style="width: 70px;">Ticket #</th>
			<th class="table_headers" style="width: 90px;">Date</th>
			<th class="table_headers" style="width: 160px;">Job</th>
			<th class="table_headers" style="width: 170px;">Destination</th>
			<th class="table_headers" style="width: 90px;">Wood type</th>
			<th class="table_headers" style="width: 60px;">Species</th>
			<th class="table_headers" style="width: 60px;">NMBF</th>
			<th class="table_headers" style="width: 60px;">Tons</th>
			<th class="table_headers" style="width: 80px;">Load pay</th>
			<th class="table_headers" style="width: 100px;">Action</th>
		</tr>
		
	</table>

	
	<script>
		
		function validated_submit() {
			if (check_field_data()) {
				var ticket_num = $('#ticket_num').attr('value');
				var destination_name = $('#destination_name').val();
				var job_name = $('#job_name').html();
				var species = [$('#species_1').val()];
				var loads = [$('#load_1_mbfs').attr('value')];
				var delivery_date = $('#delivery_date').attr('value')
				
				if ($('#load_2_mbfs').attr('value') != undefined) {
					loads.push($('#load_2_mbfs').attr('value'));
					species.push($('#species_2').val());
				}
				if ($('#load_3_mbfs').attr('value') != undefined) {
					loads.push($('#load_3_mbfs').attr('value'));
					species.push($('#species_3').val());
				}
				if ($('#load_4_mbfs').attr('value') != undefined) {
					loads.push($('#load_4_mbfs').attr('value'));
					species.push($('#species_4').val());
				}
				if ($('#load_5_mbfs').attr('value') != undefined) {
					loads.push($('#load_5_mbfs').attr('value'));
					species.push($('#species_5').val());
				}
				
				var wood_type = $('#wood_type').attr('value');
				var tonnage = $('#tonnage').attr('value');
				var value = $('#value').attr('value');
				
				var loads_string = "";
				for (var i in loads) {
					loads_string = loads_string+'&mbfs[]='+loads[i];
				}
				
				var species_string = "";
				for (var i in species) {
					species_string = species_string+'&species[]='+species[i];
				}
				
				var url = "";
				url = url+'/add_ticket_entry_row/?ticket_num='+ticket_num+'&destination_name='+destination_name+'&job_name='+job_name+'&wood_type='+wood_type
				url = url+'&tonnage='+tonnage+loads_string+species_string+'&value='+value+'&delivery_date='+delivery_date;
				
				$.ajax ({
					url: url,
					cache: false,
					method: 'POST',
					success: function() {
						
					}
				});
			}
		}
		
		/* At this point, this function makes sure that all fields have a value. Disabled fields are not included.
		 * This is called by Check-button only. Does not validate the data in any way, yet.
		 */
		
		function check_field_data() {
			var values = [];
			values.push([$('#ticket_num').attr('value'), 'Ticket number']);
			values.push([$('#delivery_date').attr('value'), 'Delivery date']);
			values.push([$('#destination_name :selected').text(), 'Destination']);
			values.push([$('#wood_type :selected').text(), 'Wood Type']);
			values.push([$('#species_1 :selected').text(), 'Specie']);
			if ($('#tonnage').attr('disabled') == undefined) {
				values.push([$('#tonnage').attr('value'), 'Tonnage']);
			} else {
				if ($('#net_mbf').attr('disabled') == undefined) {
					values.push([$('#net_mbf').attr('value'), 'Net MBF']);
				}
			}
			
			values.push([$('#value').attr('value'), 'Ticket value']);
			
			$('#entry_form table').after('<div id="feedback" style="color: red;"></div>');
			
			var everything_ok = true;
			
			for (i=0;i<values.length;i++) {
				if (values[i][0] == "") {
					$('#feedback').append('<div>'+values[i][1]+' missing </div>');
					everything_ok = false; 
				}
			}
			
			setTimeout(function() {
				$('#feedback').fadeOut();
				setTimeout(function() {
					$('#feedback').remove();
				}, 620);
			}, 5000);
			
			return everything_ok;
		}
		
		/* When destination fields value changes, this function enables Tonnage/MBf fields according to the  
		 * trucker/logger rates in this job / destination combination. 
		 */
		function enable_load_fields() {
			var job_name = $('#job_name').html();
			var destination_name = $('#destination_name :selected').text();
			
			$('#tonnage').attr('disabled', 'true');
			$('#load_1_mbfs').attr('disabled', 'true');
			
			$.ajax ({
				url: '/get_load_type/?job_name='+job_name+'&destination_name='+destination_name,
			 	cache: false,
			 	success: function (answer) {
			 		if (answer == "Tonnage") {
			 			$('#tonnage').removeAttr('disabled');
			 		} else if (answer == "MBF") {
			 			$('#load_1_mbfs').removeAttr('disabled');
			 		} else if (answer == "Both") {
			 			$('#load_1_mbfs').removeAttr('disabled');
			 			$('#tonnage').removeAttr('disabled');
			 		}
			 	}
			 });
		}
		
		$('#load_1_mbfs').change(function() {
			var total = 0
			$('.specie_mbfs').each(function() {
				total = total + parseFloat($(this).attr('value'));
			});
			
			$('#net_mbf').attr('value', total);
		})
		
		$('#load_2_mbfs').change(function() {
			var total = 0
			$('.specie_mbfs').each(function() {
				total = total + parseFloat($(this).attr('value'));
			});
			
			$('#net_mbf').attr('value', total);
		})
		
		$('#load_3_mbfs').change(function() {
			var total = 0
			$('.specie_mbfs').each(function() {
				total = total + parseFloat($(this).attr('value'));
			});
			
			$('#net_mbf').attr('value', total);
		})
		
		$('#load_4_mbfs').change(function() {
			var total = 0
			$('.specie_mbfs').each(function() {
				total = total + parseFloat($(this).attr('value'));
			});
			
			$('#net_mbf').attr('value', total);
		})
		
		$('#load_5_mbfs').change(function() {
			var total = 0
			$('.specie_mbfs').each(function() {
				total = total + parseFloat($(this).attr('value'));
			});
			
			$('#net_mbf').attr('value', total);
		})
		
		function show_ticket_inputs(id) {
			var where_from = $('#'+id+'entry');
			var ticket_number = where_from.find('#ticket_number');
			var delivery_date = where_from.find('#delivery_date');
			var job_name = where_from.find('#job_name').html();
			var destination_name = where_from.find('#destination_name').html();
			var wood_type = where_from.find('#wood_type').html();
			var species_1 = where_from.find('#species').html();
			var net_mbf = where_from.find('#net_mbf');
			var tonnage = where_from.find('#tonnage');
			var load_pay = where_from.find('#load_pay');
			
			where_from.find('td').fadeOut();
			
			var counter = 1;
			
			setTimeout(function() {
				
				where_from.find('td').each(function() {
					var value = $(this).html();
					var width = $('#all_entries th:nth-child('+counter+')').width();
					$(this).html('<input type="text" value="'+value+'" style="width: '+(width-10)+'px;" />');
					where_from.find('td').fadeIn();
					counter++;
				});
				
				// Following  blocks "overwrite" some of the fields of previous loop
				
				//The button for saving
				where_from.find('td').last().html('<input type="button" value="save" onclick="edit_ticket_entry('+id+')" />');
				
				//Select for job name
				where_from.find('#job_name').html('\
				<select id="job_name_select">\
					<% Job.all.each do |i| %>
						<option value="<%= i.id %>"><%= i.name %></option>\
					<% end %>
				</select>\
				');
				
				//Setting the previous job name as default selection
				where_from.find('#job_name option').each(function() {
					if ($(this).html() == job_name) {
						$(this).attr('selected', 'true');
					}
				});
				
				//Same for Destinations
				where_from.find('#destination_name').html('\
				<select id="destination_name_select">\
					<% Destination.all.each do |i| %>
						<option value="<%= i.id %>"><%= i.name %></option>\
					<% end %>
				</select>\
				');
				
				where_from.find('#destination_name option').each(function() {
					if ($(this).html() == destination_name) {
						$(this).attr('selected', 'true');
					}
				});
				
				//And wood types
				where_from.find('#wood_type').html('\
				<select id="wood_type_select">\
					<% WoodType.all.each do |i| %>
						<option value="<%= i.id %>"><%= i.name %></option>\
					<% end %>
				</select>\
				');
				
				where_from.find('#wood_type option').each(function() {
					if ($(this).html() == wood_type) {
						$(this).attr('selected', 'true');
					}
				});
				
				var species;
				var mbfs;
				var tons;
				
				$.ajax({
					url: '/get_load_details/'+id,
					cache: false,
					success: function(data) {
						var arr = data.split(';');
						species = arr[0].split(',');
						mbfs = arr[1].split(',');
						tons = arr[2].split(',');
						
						var counterr = 2;
						
						var mbf_width = $('#all_entries th:nth-child(7)').width()-10;
						var tonnage_width = $('#all_entries th:nth-child(8)').width()-10;
						var bg_color = where_from.css('background-color');
						
						net_mbf.html('\
							<input type="text" id="load_1_mbf" value="'+mbfs[0]+'" style="width: '+mbf_width+'px;" />\
						');
						
						tonnage.html('\
							<input type="text" id="load_1_mbf" value="'+tons[0]+'" style="width: '+tonnage_width+'px;" />\
						');
						
						where_from.find('#species').html('\
							<select id="species_1_select">\
								<% Specie.all.each do |i| %>
									<option value="<%= i.id %>"><%= i.code %></option>\
								<% end %>
								<option value="0">PU</option>\
							</select>\
						');
										
						where_from.find('#species option').each(function() {
							if ($(this).html() == species[(counterr-2)]) {
								$(this).attr('selected', 'true');
							}
						});
						
						$.each(species, function() {
							if (this != species[0]) {
								where_from.after('\
								<tr class="'+id+'_species_edit_row" style="background-color: '+bg_color+';" >\
									<td></td>\
									<td></td>\
									<td></td>\
									<td></td>\
									<td></td>\
									<td>\
										<select id="species_'+counterr+'_select">\
											<% Specie.all.each do |i| %>\
												<option value="<%= i.id %>"><%= i.code %></option>\
											<% end %>\
											<option value="0">PU</option>\
										</select>\
									</td>\
									<td>\
										<input type="text" id="load_'+counterr+'_mbf" value="'+mbfs[(counterr-1)]+'" style="width: '+mbf_width+'px;" />\
									</td>\
									<td>\
										<input type="text" id="load_'+counterr+'_tons" value="'+tons[(counterr-1)]+'" style="width: '+tonnage_width+'px;" />\
									</td>\
									<td></td>\
									<td></td>\
								</tr>\
								');
								
								$('.'+id+'_species_edit_row').find('#species_'+counterr+'_select option').each(function() {
									if ($(this).html() == species[(counterr-1)]) {
										$(this).attr('selected', 'true');
									}
								});
								
								counterr++;
								
							}
						});
					}
				});
			}, 620);
			
		}
		
		function edit_ticket_entry(id) {
			var where_from = $('#'+id+'entry')
			var serows = $('.'+id+'_species_edit_row');
			
			var ticket_num = where_from.find('#ticket_number').find('input').val();
			var delivery_date = where_from.find('#delivery_date').find('input').val();
			var job_id = where_from.find('#job_name_select').val();
			var destination_id = where_from.find('#destination_name_select').val();
			var wood_type_id = where_from.find('#wood_type_select').val();
			var species_1 = where_from.find('#species_1_select').val();
			var species_2 = serows.find('#species_2_select').val();
			var species_3 = serows.find('#species_3_select').val();
			var species_4 = serows.find('#species_4_select').val();
			var species_5 = serows.find('#species_5_select').val();
			var load_1_mbf = where_from.find('#load_1_mbf').val();
			var load_2_mbf = serows.find('#load_2_mbf').val();
			var load_3_mbf = serows.find('#load_3_mbf').val();
			var load_4_mbf = serows.find('#load_4_mbf').val();
			var load_5_mbf = serows.find('#load_5_mbf').val();
			var load_1_tons = where_from.find('#load_1_tons').val();
			var load_2_tons = serows.find('#load_2_tons').val();
			var load_3_tons = serows.find('#load_3_tons').val();
			var load_4_tons = serows.find('#load_4_tons').val();
			var load_5_tons = serows.find('#load_5_tons').val();
			var value = where_from.find('#load_pay').find('input').val();
			
			var url = "/save_edited_ticket_entry/"+id+"?ticket_num="+ticket_num+"&delivery_date="+delivery_date;
			url = url+"&job_id="+job_id+"&destination_id="+destination_id+"&wood_type_id="+wood_type_id+"&species[]="+species_1;
			url = url+"&species[]="+species_2+"&species[]="+species_3+"&species[]="+species_4+"&species[]="+species_5;
			url = url+"&mbfs[]="+load_1_mbf+"&mbfs[]="+load_2_mbf+"&mbfs[]="+load_3_mbf+"&mbfs[]="+load_4_mbf;
			url = url+"&mbfs[]="+load_5_mbf+"&tons[]="+load_1_tons+"&tons[]="+load_2_tons+"&tons[]="+load_3_tons;
			url = url+"&mbfs[]="+load_4_tons+"&tons[]="+load_5_tons+"&value="+value;
			
			$.ajax ({
				url: url,
				cache: false,
				success: function() {
					refresh_all_entries('ticket');
				}
			});	
		}
		
		$(document).ready(function() {
			setTimeout(function () {
				$('#ticket_num').focus();
			}, 1000);
		});
		
		/* Inserts correct job when ticket is entered */
		
		$('#ticket_num').change(function() {
			$.ajax({
				url: '/get_job/'+$(this).attr('value'),
				cache: false,
				success: function (answer) {
					$('#job_name').html(answer)
				}
			})
		})
		
		// Recursively working infite timer
		function checkIt () {
			$('.specie_mbfs').each(function(){$(this).attr('disabled', 'true');});
			$('#tonnage').attr('disabled', 'true');
			
			var job_name = $('#job_name').attr('value');
			var destination_name = $('#destination_name').attr('value');
			
			if (job_name != "" && destination_name != "") {
				$.ajax({
					url: "/get_load_type/?job_name="+job_name+"&destination_name="+destination_name,
					cache: false,
					success: function (html) {
						if (html == "MBF") {
							$('.specie_mbfs').each(function(){$(this).removeAttr('disabled');});
						} else if (html == "Tonnage") {
							$('#tonnage').removeAttr('disabled');
						} else if (html == "Both") {
							$('.specie_mbfs').each(function(){$(this).removeAttr('disabled');});
							$('#tonnage').removeAttr('disabled');
						}
					}
				});
			}
		}
		
		function delete_ticket(id) {
			if (confirm("Do you really want to delete this ticket?")) {
				$.ajax({
					url: "/delete_ticket/"+id,
					cache: false,
					success: function() {
						$('#all_entries').find('#'+id+'entry').fadeOut();
						$('#current_entries').find('#'+id+'entry').fadeOut();
					}
				});
			}
		}
		
		/* Script to be run on every pageload */
		refresh_all_entries('ticket');
		
		function stripe_the_table() {
			$('.all_entries_row:nth-child(2n)').css('background-color', '#E6E6E6');
			$('.current_entries_row:nth-child(2n)').css('background-color', '#E6E6E6');
		}
		
		
	</script>
</div>