<div class="grid_10" id="jobs">
	<% Job.all.each do |i| %>
		<h3><a href="#"><%= i.name %></a></h3>	
		<div class="jobs">
			<div class="accordion_left_column">
				<div class="data_rows"><div class="row_headers">Landowner:</div><div class="row_data"> <%= i.owner.name %></div></div>
				<div class="data_rows"><div class="row_headers">Logger:</div><div class="row_data"> <%= i.logger.name %></div></div>
				<div class="data_rows"><div class="row_headers">Trucker:</div><div class="row_data"> <%= i.trucker.name %></div></div>
			</div>
			<div class="accordion_right_column">
				<div class="data_rows"><div class="row_headers">HFI-Rate:</div><div class="row_data"> <%= i.hfi_rate %> %</div></div>
				<div class="data_rows"><div class="row_headers">Prime payer:</div><div class="row_data"> <%= if i.hfi_prime then "HFI" else "Other" end %></div></div>
				<div class="data_rows"><div class="row_headers">Some:</div><div class="row_data"> Thing</div></div>
			</div>
		</div>
	<% end %>
	
	<h3><a href="#">Add a Job</a></h3>
	<div class="jobs">
		
	</div>
	
	<script>
		$('#jobs').accordion();
		$('#jobs_nav').attr('class', 'selected');
	</script>
</div>

<% set_active(1) %>