<% if params[:type] == "logger" %>
	$('#no_logger_rate_data_for_<%= @job.id %>').fadeOut();

	$('#input_logger_data_row_<%= @job.id %>').fadeOut();
	setTimeout(function(){ $('#input_logger_data_row_<%= @job.id %>').remove() });
	$('#add_the_logger_rate_<%= @job.id %>').fadeOut();
	setTimeout(function(){ $('#add_the_logger_rate_<%= @job.id %>').remove() });
	$('#add_logger_rate_row_<%= @job.id %>').fadeIn();

	$('#add_logger_rate_row_<%= @job.id %>').before('<div class="data_rows"><div class="row_headers"><%= Destination.find(@logger_rate.destination_id).name %>: </div><div class="row_data"> $ <%= @logger_rate.rate %> / <%= @logger_rate.rate_type %> </div></div>');
<% end %>
<% if params[:type] == "trucker" %>
		$('#no_trucker_rate_data_for_<%= @job.id %>').fadeOut();
	
		$('#input_trucker_data_row_<%= @job.id %>').fadeOut();
		setTimeout(function(){ $('#input_trucker_data_row_<%= @job.id %>').remove() });
		$('#add_the_trucker_rate_<%= @job.id %>').fadeOut();
		setTimeout(function(){ $('#add_the_trucker_rate_<%= @job.id %>').remove() });
		$('#add_trucker_rate_row_<%= @job.id %>').fadeIn();
	
		$('#add_trucker_rate_row_<%= @job.id %>').before('<div class="data_rows"><div class="row_headers"><%= Destination.find(@trucker_rate.destination_id).name %>: </div><div class="row_data"> $ <%= @trucker_rate.rate %> / <%= @trucker_rate.rate_type %> </div></div>');
<% end %>
