<div class="grid_10" id="owners">
	<% Owner.all.each do |i| %>
		<h3><a href="#"><%= i.name %></a></h3>	
		<div class="owners">
			<div class="accordion_left_column">
				<div class="data_rows"><h4>Contact person:</h4></div>
				<div class="data_rows"><div class="row_headers">Name:</div><div class="row_data"> <%= i.contact_person.name %></div></div>
				<div class="data_rows"><div class="row_headers">Phone:</div><div class="row_data"> <%= i.contact_person.phone_number %></div></div>
				<div class="data_rows"><div class="row_headers">E-mail:</div><div class="row_data"> <%= i.contact_person.email %></div></div>
			</div>
			<div class="accordion_right_column">
				<div class="data_rows"><h4>Address:</h4></div>
				<div class="data_rows"><div class="row_headers">Street:</div><div class="row_data"> <%= i.address.street %> </div></div>
				<div class="data_rows"><div class="row_headers">City: </div><div class="row_data"> <%= i.address.city %></div></div>
				<div class="data_rows"><div class="row_headers">Zip:</div><div class="row_data"> <%= i.address.zip_code %> </div></div>
			</div>
		</div>
	<% end %>
	
	<h3><a href="#">Add a Landowner</a></h3>
	<div class="owners">

	</div>
	<script>
		$('#owners').accordion();
	</script>
	
</div>

<% set_active(1) %>