<div class="grid_10" id="jobs">
	<% Job.all.each do |i| %>
		<h3><a href="#"><%= i.name %></a></h3>	
		<div class="jobs rates" id="<%= i.id %>_accordion">
			<div class="accordion_left_column">
				<div class="data_rows"><h4>Trucker hauling rates:</h4></div>
				<div class="data_rows"><div class="row_headers">Trucker name: </div><div class="row_data"> <%= i.trucker.name %></div></div>
				<% @trds = i.trucker_rates_details %>
				<% if @trds.length == 0 %>
					<div class="data_rows" id="no_trucker_rate_data_for_<%= i.id %>"><div class="row_headers">No rate data</div></div>
					<div class="action_link" id="add_rate_row_<%= i.id %>" onclick="show_rate_inputs(<%= i.id %>)">Add a rate</div>					
				<% else %>
					<% @trds.each do |j| %>
					   <div class="data_rows"><div class="row_headers"><%= Destination.find(j.destination_id).name %>: </div><div class="row_data"> $ <%= j.rate %> / <%= j.rate_type %> </div></div>
					<% end %>
					<div class="action_link" id="add_trucker_rate_row_<%= i.id %>" onclick="show_trucker_rate_inputs(<%= i.id %>)">Add a rate</div>
				<% end %>
			</div>
			<div class="accordion_right_column">
				<div class="data_rows"><h4>Logger logging rates:</h4></div>
				<div class="data_rows"><div class="row_headers">Logger name: </div><div class="row_data"> <%= i.logger.name %></div></div>
				<% @lrds = i.logger_rates_details %>
					<% if @lrds.length == 0 %>
						<div class="data_rows" id="no_logger_rate_data_for_<%= i.id %>"><div class="row_headers">No rate data</div></div>
						<div class="action_link" id="add_logger_rate_row_<%= i.id %>" onclick="show_rate_inputs(<%= i.id %>)">Add a rate</div>					
					<% else %>
						<% @lrds.each do |j| %>
							<div class="data_rows"><div class="row_headers"><%= Destination.find(j.destination_id).name %>: </div><div class="row_data"> $ <%= j.rate %> / <%= j.rate_type %> </div></div>
						<% end %>
					<div class="action_link" id="add_logger_rate_row_<%= i.id %>" onclick="show_logger_rate_inputs(<%= i.id %>)">Add a rate</div>
				<% end %>
			</div>
		</div>
	<% end %>
	
	<script>
		$('#jobs').accordion();
		$('#jobs_nav').attr('class', 'selected');
		
		function attach_autocomplete_to_input (id, type) {
			var destinations = [
				<% Destination.all.each do |i| %>
					<%= "'#{i.name}'," %>
				<% end %>
			];
									
			$('#input_'+type+'_data_row_'+id+' #destination').autocomplete({ 
				source: destinations,
				delay: 50,
				autoFocus: true
			});			
		}
		
		function show_trucker_rate_inputs (id) {
			$('#add_trucker_rate_row_'+id).before('<div class="data_rows" id="input_trucker_data_row_'+id+'"><div class="row_headers"><input type="text" id="destination" /></div><div class="row_data"><input type="text" id="rate" name="rate" size="3" /> / <select id="rate_type" name="rate_type"><option value="MBF">MBF</option><option value="Tonnage">Ton</option><option value="percent">%</option></select></div></div><div class="action_link rate_link" id="add_the_trucker_rate_'+id+'" onclick="add_the_rate('+id+', \'trucker\')">Add</div>');
			$('#add_trucker_rate_row_'+id).fadeOut();
	
			attach_autocomplete_to_input(id);	
		}
		
		function show_logger_rate_inputs (id) {
			$('#add_logger_rate_row_'+id).before('<div class="data_rows" id="input_logger_data_row_'+id+'"><div class="row_headers"><input type="text" id="destination"  /></div><div class="row_data"><input type="text" id="rate" name="rate" size="3" /> / <select id="rate_type" name="rate_type"><option value="MBF">MBF</option><option value="Tonnage">Ton</option><option value="percent">%</option></select></div></div><div class="action_link rate_link" id="add_the_logger_rate_'+id+'" onclick="add_the_rate('+id+', \'logger\')">Add</div>');
			$('#add_logger_rate_row_'+id).fadeOut();
	
			attach_autocomplete_to_input(id);	
		}

		function add_the_rate(id, type) {
			var destination = $('#'+id+'_accordion #input_'+type+'_data_row_'+id+' #destination').attr('value')
			var rate_type = $('#'+id+'_accordion #input_'+type+'_data_row_'+id+' #rate_type').attr('value')
			var rate = $('#'+id+'_accordion #input_'+type+'_data_row_'+id+' #rate').attr('value')
	
			$.ajax ({
				url: '/new_rate/'+id+'?destination_name='+destination+'&rate_type='+rate_type+'&rate='+rate+'&type='+type,
				cache: false,
			})
		}
		
	</script>
</div>

<% set_active(1) %>