<div class="grid_10" id="jobs">
	<% Job.all.each do |i| %>
		<h3><a href="#"><%= i.name %></a></h3>	
		<div class="jobs rates" id="<%= i.id %>_accordion">
			<div class="accordion_left_column">
				<div class="data_rows"><h4>Trucker hauling rates:</h4></div>
				<div class="data_rows"><div class="row_headers">Trucker name: </div><div class="row_data"> <%= i.trucker.name %></div></div>
				<% @trds = i.trucker_rates_details %>
				<% if @trds.length == 0 %>
					<div class="data_rows" id="no_rate_data_for_<%= i.id %>"><div class="row_headers">No rate data</div></div>
					<div class="action_link" id="add_rate_row_<%= i.id %>" onclick="show_rate_inputs(<%= i.id %>)">Add a rate</div>					
				<% else %>
					<% @trds.each do |j| %>
					   <div class="data_rows"><div class="row_headers"><%= Destination.find(j.destination_id).name %>: </div><div class="row_data"> $ <%= j.rate %> / <%= j.rate_type %> </div></div>
					<% end %>
					<div class="action_link" id="add_rate_row_<%= i.id %>" onclick="show_rate_inputs(<%= i.id %>)">Add a rate</div>
				<% end %>
			</div>
			<div class="accordion_right_column">
				<div class="data_rows"><h4>Logger logging rates:</h4></div>
				<div class="data_rows"><div class="row_headers">Logger name: </div><div class="row_data"> <%= i.logger.name %></div></div>
				<% @lrds = i.logger_rates_details %>
					<% if @lrds.length == 0 %>
						<div class="data_rows" id="no_rate_data_for_<%= i.id %>"><div class="row_headers">No rate data</div></div>
						<div class="action_link" id="add_rate_row_<%= i.id %>" onclick="show_rate_inputs(<%= i.id %>)">Add a rate</div>					
					<% else %>
						<% @lrds.each do |j| %>
						   <div class="data_rows"><div class="row_headers"><%= Destination.find(j.destination_id).name %>: </div><div class="row_data"> $ <%= j.rate %> / <%= j.rate_type %> </div></div>
						<% end %>
					<div class="action_link" id="add_rate_row_<%= i.id %>" onclick="show_rate_inputs(<%= i.id %>)">Add a rate</div>
				<% end %>
			</div>
		</div>
	<% end %>
	
	<script>
		$('#jobs').accordion();
		$('#jobs_nav').attr('class', 'selected');
		
		function attach_autocomplete_to_input (id) {
			var destinations = [
				<% Destination.all.each do |i| %>
					<%= "'#{i.name}'," %>
				<% end %>
			];
									
			$('#input_data_row_'+id+' #destination').autocomplete({ 
				source: destinations,
				delay: 50,
				autoFocus: true
			});			
		}
		
	</script>
</div>

<% set_active(1) %>