<div class="grid_10" id="jobs">
	<% Job.all.each do |i| %>
		<h3><a href="#"><%= i.name %></a></h3>	
		<div class="jobs rates" id="<%= i.id %>_accordion">
			<div class="accordion_left_column">
				<div class="data_rows"><h4>Trucker hauling rates:</h4></div>
				<div class="data_rows"><div class="row_headers">Trucker name: </div><div class="row_data"> <%= i.trucker.name %></div></div>
				<% @trds = i.trucker_rates_details %>
				<% if @trds.length == 0 %>
					<div class="data_rows" id="no_trucker_rate_data_for_<%= i.id %>"><div class="row_headers">No rate data</div></div>
					<div class="action_link" id="add_trucker_rate_row_<%= i.id %>" onclick="show_trucker_rate_inputs(<%= i.id %>)">Add a rate</div>					
				<% else %>
					<% @trds.each do |j| %>
					   <div id="<%= j.id %>trucker_rate" class="data_rows"><div class="row_headers"><%= Destination.find(j.destination_id).name %>:</div><div class="row_data"> $ <span class="rate" ><%= j.rate %></span> / <span class="rate_type"><%= j.rate_type %></span></div><div class="rate_control_link_row"><div class="rate_control_link" onclick="show_edit_rate_inputs(<%= j.id %>, 'trucker');" >Edit</div><div class="rate_control_link" onclick="delete_rate(<%= j.id %>, 'trucker');">Del</div></div></div>
					<% end %>
					<div class="action_link" id="add_trucker_rate_row_<%= i.id %>" onclick="show_trucker_rate_inputs(<%= i.id %>)">Add a rate</div>
				<% end %>
			</div>
			<div class="accordion_right_column">
				<div class="data_rows"><h4>Logger logging rates:</h4></div>
				<div class="data_rows"><div class="row_headers">Logger name: </div><div class="row_data"> <%= i.logger.name %></div></div>
				<% @lrds = i.logger_rates_details %>
					<% if @lrds.length == 0 %>
						<div class="data_rows" id="no_logger_rate_data_for_<%= i.id %>"><div class="row_headers">No rate data</div></div>
						<div class="action_link" id="add_logger_rate_row_<%= i.id %>" onclick="show_logger_rate_inputs(<%= i.id %>)">Add a rate</div>					
					<% else %>
						<% @lrds.each do |j| %>
							<div id="<%= j.id %>logger_rate" class="data_rows"><div class="row_headers"><%= Destination.find(j.destination_id).name %>: </div><div class="row_data"> $ <span class="rate" ><%= j.rate %></span> / <span class="rate_type"><%= j.rate_type %></span></div><div class="rate_control_link_row"><div class="rate_control_link" onclick="show_edit_rate_inputs(<%= j.id %>, 'logger');" >Edit</div><div class="rate_control_link" onclick="delete_rate(<%= j.id %>, 'logger');">Del</div></div></div>
						<% end %>
					<div class="action_link" id="add_logger_rate_row_<%= i.id %>" onclick="show_logger_rate_inputs(<%= i.id %>)">Add a rate</div>
				<% end %>
			</div>
		</div>
	<% end %>
	
	<script>
		$('#jobs').accordion();
		$('#jobs_nav').attr('class', 'selected');
		
		function attach_autocomplete_to_input (id, type) {
			var destinations = [
				<% Destination.all.each do |i| %>
					<%= "'#{i.name}'," %>
				<% end %>
			];
									
			$('#input_'+type+'_data_row_'+id+' #destination').autocomplete({ 
				source: destinations,
				delay: 50,
				autoFocus: true
			});			
		}
				
		function show_trucker_rate_inputs (id) {
			$('#add_trucker_rate_row_'+id).before('\
			<div class="data_rows" id="input_trucker_data_row_'+id+'">\
				<div class="row_headers inputs">\
				<select id="destination">\
					<option value="none"> </option>\
					<% Destination.all.each do |i| %>\
						<option value="<%= i.name %>"><%= i.name %></option>\
					<% end %>\
				</select>\
				</div>\
				<div class="row_data">\
					<input type="text" id="rate" name="rate" size="3" /> /\
					<select id="rate_type" class="rate_type_select" name="rate_type">\
						<option value="MBF">MBF</option>\
						<option value="Tonnage">Ton</option>\
						<option value="percent">%</option>\
					</select>\
				</div>\
			</div>\
			<div class="action_link rate_link" id="add_the_trucker_rate_'+id+'" onclick="add_the_rate('+id+', \'trucker\')">Add</div>');
			
			$('#add_trucker_rate_row_'+id).fadeOut();
		}
		
		function show_logger_rate_inputs (id) {
			$('#add_logger_rate_row_'+id).before('\
			<div class="data_rows" id="input_logger_data_row_'+id+'">\
				<div class="row_headers inputs">\
				<select id="destination">\
					<option value="none"> </option>\
					<% Destination.all.each do |i| %>\
						<option value="<%= i.name %>"><%= i.name %></option>\
					<% end %>\
				</select>\
				</div>\
				<div class="row_data">\
					<input type="text" id="rate" name="rate" size="3" /> /\
					<select id="rate_type" class="rate_type_select" name="rate_type">\
						<option value="MBF">MBF</option>\
						<option value="Tonnage">Ton</option>\
						<option value="percent">%</option>\
					</select>\
				</div>\
			</div>\
			<div class="action_link rate_link" id="add_the_logger_rate_'+id+'" onclick="add_the_rate('+id+', \'logger\')">Add</div>');
			
			$('#add_logger_rate_row_'+id).fadeOut();
		}

		function add_the_rate(id, type) {
			var destination = $('#'+id+'_accordion #input_'+type+'_data_row_'+id+' #destination').val();
			var rate_type = $('#'+id+'_accordion #input_'+type+'_data_row_'+id+' #rate_type').attr('value');
			var rate = $('#'+id+'_accordion #input_'+type+'_data_row_'+id+' #rate').attr('value');
			
			$.ajax ({
				url: '/new_rate/'+id+'?destination_name='+destination+'&rate_type='+rate_type+'&rate='+rate+'&type='+type,
				cache: false,
				success: function(response_text) {
					
					var html = '\
					<div style="display: none;" id="'+response_text+type+'_rate" class="data_rows">\
						<div class="row_headers">'+destination+':</div>\
						<div class="row_data"> $ <span class="rate" >'+rate+'</span> / <span class="rate_type">'+rate_type+'</span></div>\
						<div class="rate_control_link_row">\
							<div class="rate_control_link" onclick="show_edit_rate_inputs('+response_text+', \''+type+'\');" >Edit</div>\
							<div class="rate_control_link" onclick="delete_rate('+response_text+', \''+type+'\');">Del</div>\
						</div>\
					</div>'
					
					if (type == 'logger') {
						$('#no_logger_rate_data_for_'+id).fadeOut();
					} else if (type == 'trucker') {
						$('#no_trucker_rate_data_for_'+id).fadeOut();
					}
					
					
					$('#input_'+type+'_data_row_'+id).fadeOut();
					$('#add_the_'+type+'_rate_'+id).fadeOut();
					$('#add_'+type+'_rate_row_'+id).fadeIn();
					$('#add_'+type+'_rate_row_'+id).before(html);
					$('#'+response_text+type+'_rate').fadeIn();
					
					
					setTimeout(function() {
						$('#input_'+type+'_data_row_'+id).remove();
						$('#add_the_'+type+'_rate_'+id).remove();	
					}, 620);
				}
			})
		}
		
		function show_edit_rate_inputs(id, type) {
			var destination = $('#'+id+type+'_rate').find('.row_headers').first().html();
			var old_rate = $('#'+id+type+'_rate').find('.rate').first().html();
			var old_type = $('#'+id+type+'_rate').find('.rate_type').first().html();
			
			var tonnage_selected = ''
			var mbf_selected = ''
			
			if (old_type == "Tonnage") {
				var tonnage_selected = 'selected="true"'
			} else if (old_type == "MBF") {
				var mbf_selected = 'selected="true"'
			}
			
			var html = '\
				<div class="row_data" style="display: none;"> $ <input id="new_rate" type="text" value="'+old_rate+'" size="3" /> / <select class="rate_type_select" id="new_type"><option '+mbf_selected+' value="MBF">MBF</option><option '+tonnage_selected+' value="Tonnage">Ton</option></select></div>\
				<div class="rate_control_link_row" style="display: none;">\
					<div class="rate_control_link" onclick="edit_the_rate('+id+', \''+type+'\');">Save</div>\
				</div>\
			</div>'
			
			$('#'+id+type+'_rate').find('.row_data').first().fadeOut();
			$('#'+id+type+'_rate').find('.rate_control_link_row').first().fadeOut();
			setTimeout(function() { 
				$('#'+id+type+'_rate').find('.row_data').first().remove();
				$('#'+id+type+'_rate').find('.row_headers').after(html); 
				$('#'+id+type+'_rate').find('.row_data').first().fadeIn(); 
				$('#'+id+type+'_rate').find('.rate_control_link_row').first().fadeIn();
			}, 620);
		}
		
		function edit_the_rate(id, type) {
			
			var rate = $('#'+id+type+'_rate').find('#new_rate').attr('value');
			var rate_type = $('#'+id+type+'_rate').find('#new_type').val();
			
			var html = '<div class="row_data" style="display: none;"> $ <span class="rate" >'+rate+'</span> / <span class="rate_type">'+rate_type+'</span></div>'
			
			$.ajax({
				url:'/edit_rate/'+id+'?rate='+rate+'&rate_type='+rate_type+'&type='+type,
				cache: false,
				success: function() {
					$('#'+id+type+'_rate').find('.row_data').first().fadeOut();
					$('#'+id+type+'_rate').find('.rate_control_link_row').first().fadeOut();
					setTimeout(function(){
						$('#'+id+type+'_rate').find('.row_data').first().remove();
						$('#'+id+type+'_rate').find('.rate_control_link_row').first().remove();
						$('#'+id+type+'_rate').find('.row_headers').after(html);
						$('#'+id+type+'_rate').find('.row_data').first().fadeIn();
						$('#'+id+type+'_rate').find('.rate_control_link_row').first().fadeIn();
					}, 620);
					
				}
			});
		}
		
		function delete_rate(id, type) {
			if (confirm("Are you sure you want to delete this rate?")) {
				$.ajax({
					url: '/delete_rate/'+id+'?type='+type,
					cache: false,
					success: function() {
						$('#'+id+type+'_rate').fadeOut();
						setTimeout(function(){$(id+type+'_rate').remove();}, 620);
					}
				});
			}
		}
	</script>
</div>

<% set_active(1) %>