<div class="grid_10" id="sawmills">
	<% Destination.all.each do |i| %>
		<h3><a href="#"><%= i.name %></a></h3>	
		<div class="partners">
			<div class="accordion_left_column">
				<div class="data_rows"><h4>Contact person:</h4></div>
				<div class="data_rows"><div class="row_headers">Name:</div><div class="row_data"> <%= i.contact_person.name %></div></div>
				<div class="data_rows"><div class="row_headers">Phone:</div><div class="row_data"> <%= i.contact_person.phone_number %></div></div>
				<div class="data_rows"><div class="row_headers">E-mail:</div><div class="row_data"> <%= i.contact_person.email %></div></div>
			</div>
			<div class="accordion_right_column">
				<div class="data_rows"><h4>Address:</h4></div>
				<div class="data_rows"><div class="row_headers">Street:</div><div class="row_data"> <%= i.address.street %> </div></div>
				<div class="data_rows"><div class="row_headers">City: </div><div class="row_data"> <%= i.address.city %></div></div>
				<div class="data_rows"><div class="row_headers">Zip:</div><div class="row_data"> <%= i.address.zip_code %> </div></div>
			</div>
		</div>
	<% end %>
	
	<h3><a href="#">Add a sawmill</a></h3>
	<div class="sawmills new">
		<form method="post" action="/new_sawmill" data-remote="true">
			<div class="accordion_left_column">
				<div class="data_rows"><h4>Sawmill:</h4></div>
				<div class="data_rows"><div class="row_headers">Name:</div><div class="row_data"> <input id="sawmill_name" name="sawmill_name" type="text" size="20"/></div></div>
				<div class="data_rows"><h4>Contact person:</h4></div>
				<div class="data_rows"><div class="row_headers">Name:</div><div class="row_data"> <input id="cp_name" name="cp_name" type="text" size="20"/></div></div>
				<div class="data_rows"><div class="row_headers">Phone:</div><div class="row_data"> <input id="cp_phone" name="cp_phone" type="text" size="20"/></div></div>
				<div class="data_rows"><div class="row_headers">E-mail:</div><div class="row_data"> <input id="cp_email" name="cp_email" type="text" size="20"/></div></div>
			</div>
			<div class="accordion_right_column">
				<div class="data_rows"><h4>Address:</h4></div>
				<div class="data_rows"><div class="row_headers">Street:</div><div class="row_data"> <input id="address_street" name="address_street" type="text" size="20"/> </div></div>
				<div class="data_rows"><div class="row_headers">City: </div><div class="row_data"> <input id="address_city" name="address_city" type="text" size="20"/></div></div>
				<div class="data_rows"><div class="row_headers">Zip:</div><div class="row_data"> <input id="address_zip" name="address_zip" type="text" size="20"/> </div></div>
				<div class="data_rows"><div class="row_headers">Action:</div><div class="row_data"> <input type="submit" value="Submit" size="20"/> </div></div>
			</div>
		</form>
	</div>
	
	<script>
		$('#sawmills').accordion();
	</script>
</div>

<% set_active(1) %>