<div class="grid_10" id="sawmills">
	<% Destination.all.each do |i| %>
		<h3><a href="#"><%= i.name %></a></h3>	
		<div id="<%= i.id %>sawmill" class="sawmills">
			<div style="display: none;" id="sawmill_name"><%= i.name %></div>	
			<div class="accordion_left_column">
				<div class="data_rows"><h4>Contact person:</h4></div>
				<div class="data_rows"><div class="row_headers">Name:</div><div id="cp_name" class="row_data"><%= i.contact_person.name %></div></div>
				<div class="data_rows"><div class="row_headers">Phone:</div><div id="cp_phone" class="row_data"><%= i.contact_person.phone_number %></div></div>
				<div class="data_rows"><div class="row_headers">E-mail:</div><div id="cp_email" class="row_data"><%= i.contact_person.email %></div></div>
			</div>
			<div class="accordion_right_column">
				<div class="data_rows"><h4>Address:</h4></div>
				<div class="data_rows"><div class="row_headers">Street:</div><div id="address_street" class="row_data"><%= i.address.street %> </div></div>
				<div class="data_rows"><div class="row_headers">City: </div><div id="address_city" class="row_data"><%= i.address.city %></div></div>
				<div class="data_rows"><div class="row_headers">Zip:</div><div id="address_zip" class="row_data"><%= i.address.zip_code %> </div></div>
				<div class="data_rows"><div class="row_headers">State:</div><div id="address_state" class="row_data" align="<%= i.address.state %>"><%= $states[i.address.state] %></div></div>
			</div>
			<div class="bottom_row">
				<div class="bottom_input_wrapper"><input type="button" value="Edit" onclick="edit_sawmill(<%= i.id %>);" /></div>
			</div>
		</div>
	<% end %>
	
	<h3><a href="#">Add a sawmill</a></h3>
	<div class="sawmills new">
		<form method="post" action="/new_sawmill" data-remote="true">
			<div class="accordion_left_column">
				<div class="data_rows"><h4>Sawmill:</h4></div>
				<div class="data_rows"><div class="row_headers">Name:</div><div class="row_data"> <input id="sawmill_name" name="sawmill_name" type="text" size="20"/></div></div>
				<div class="data_rows"><h4>Contact person:</h4></div>
				<div class="data_rows"><div class="row_headers">Name:</div><div class="row_data"> <input id="cp_name" name="cp_name" type="text" size="20"/></div></div>
				<div class="data_rows"><div class="row_headers">Phone:</div><div class="row_data"> <input id="cp_phone" name="cp_phone" type="text" size="20"/></div></div>
				<div class="data_rows"><div class="row_headers">E-mail:</div><div class="row_data"> <input id="cp_email" name="cp_email" type="text" size="20"/></div></div>
			</div>
			<div class="accordion_right_column">
				<div class="data_rows"><h4>Address:</h4></div>
				<div class="data_rows"><div class="row_headers">Street:</div><div class="row_data"> <input id="address_street" name="address_street" type="text" size="20"/></div></div>
				<div class="data_rows"><div class="row_headers">City: </div><div class="row_data"> <input id="address_city" name="address_city" type="text" size="20"/></div></div>
				<div class="data_rows"><div class="row_headers">Zip:</div><div class="row_data"> <input id="address_zip" name="address_zip" type="text" size="20"/> </div></div>
				<div class="data_rows">
					<div class="row_headers">State:</div>
					<div class="row_data"> 
						<select id="address_state" name="address_state"> 
							<% $states.each_with_index do |i, x| %>
								<option value="<%= x %>"><%= i %></option>
							<% end %>
						</select>
					</div>
				</div>
				<div class="data_rows"><div class="row_headers">Action:</div><div class="row_data"> <input type="submit" value="Submit" size="20"/> </div></div>
			</div>
		</form>
	</div>
	
	<script>
	
		function edit_sawmill(id) {
			var place = '#'+id+'sawmill'
			
			var sawmill_name = $(place).find('#sawmill_name').html();
			var cp_name = $(place).find('#cp_name').html();
			var cp_phone = $(place).find('#cp_phone').html();
			var cp_email = $(place).find('#cp_email').html();
			var addr_street = $(place).find('#address_street').html();
			var addr_city = $(place).find('#address_city').html();
			var addr_zip = $(place).find('#address_zip').html();
			var addr_state = $(place).find('#address_state').attr('align');
			
			
			
			$(place).find('div').each(function() {$(this).fadeOut();});
			setTimeout(function() { $(place).find('div').each(function() {$(this).remove();}); }, 650);
			
			var html = ""
			
			html = '\
				<form style="display: none;" method="post" action="/edit_sawmill" data-remote="true">\
					<div class="accordion_left_column">\
						<div class="data_rows"><h4>Landowner:</h4></div>\
						<div class="data_rows"><div class="row_headers">Name:</div><div class="row_data"> <input id="owner_name" name="owner_name" type="text" size="20" value="'+sawmill_name+'" /></div></div>\
						<div class="data_rows"><h4>Contact person:</h4></div>\
						<div class="data_rows"><div class="row_headers">Name:</div><div class="row_data"><input id="cp_name" name="cp_name" type="text" size="20" value="'+cp_name+'" /></div></div>\
						<div class="data_rows"><div class="row_headers">Phone:</div><div class="row_data"><input id="cp_phone" name="cp_phone" type="text" size="20" value="'+cp_phone+'" /></div></div>\
						<div class="data_rows"><div class="row_headers">E-mail:</div><div class="row_data"><input id="cp_email" name="cp_email" type="text" size="20" value="'+cp_email+'" /></div></div>\
					</div>\
					<div class="accordion_right_column">\
						<div class="data_rows"><h4>Address:</h4></div>\
						<div class="data_rows"><div class="row_headers">Street:</div><div class="row_data"><input id="address_street" name="address_street" type="text" size="20" value="'+addr_street+'" /> </div></div>\
						<div class="data_rows"><div class="row_headers">City: </div><div class="row_data"><input id="address_city" name="address_city" type="text" size="20" value="'+addr_city+'" /></div></div>\
						<div class="data_rows"><div class="row_headers">Zip:</div><div class="row_data"><input id="address_zip" name="address_zip" type="text" size="20" value="'+addr_zip+'" /> </div></div>\
						<div class="data_rows">\
							<div class="row_headers">State:</div>\
							<div class="row_data">\
								<select id="address_state" name="address_state">\
									<% $states.each_with_index do |i, x| %>
										<option value="<%= x %>"><%= i %></option>\
									<% end %>
								</select>\
							</div>\
						</div>\
						<div class="data_rows"><div class="row_headers">Action:</div><div class="row_data"> <input type="submit" value="Submit" size="20"/> </div></div>\
					<input type="hidden" name="sawmill_id" value=\"'+id+' \" />\
				</form>'
				
			setTimeout(function() { $(place).append(html); }, 650);
			setTimeout(function() { $(place).contents().each(function() { $(this).fadeIn(); }); }, 650);
			setTimeout(function() { $(place).find('#address_state').val(addr_state); }, 650);
		}
	
	
		$('#sawmills').accordion();
	</script>
</div>

<% set_active(1) %>