<div id="jobs" class="grid_10">
	<% Job.all.each do |i| %>
		<h3><a href="#"><%= i.name %></a></h3>	
		<div id="<%= i.id %>job" class="tickets">
			<div style="display: none;" id="job_name"><%= i.name %></div>
			<div class="accordion_left_column">
				<div class="data_rows"><h4>Ticket range:</h4></div>
				<div class="data_rows"><div class="row_headers">From: </div><div id="owner_name" class="row_data"><%= i.ticket_range_from %></div></div>
				<div class="data_rows"><div class="row_headers">To: </div><div id="logger_name" class="row_data"><%= i.ticket_range_to %></div></div>
				<div class="action_link">edit</div>
			</div>
			<div class="accordion_right_column"></div>
		</div>
	<% end %>
	
	<script>
		$('#jobs').accordion();
	</script>
	
</div>