<html>
	<head>
		<title>Logger receipt</title>
		<link rel="stylesheet" href="/stylesheets/reset.css" />
		<link rel="stylesheet" href="/stylesheets/text.css" />
		<link rel="stylesheet" href="/stylesheets/960.css" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/cupertino.css" />
		<%= stylesheet_link_tag('print', :media => :print) %>
		<%= javascript_include_tag :defaults %>
		<%= csrf_meta_tag %>
	</head>	
	<body>
		
		<div id="controls">
			<div id="print_it_link" onclick="window.print()">Print the receipt</div>
			<% if @old.nil? %>
				<% if Receipt.find_by_job_id_and_owner_type_and_payment_num(@job.id, "logger", @payment_num).nil? %>
					<div id="save_it_link" onclick="save_the_receipt()">Save the receipt</div>
				<% else %>
					<div id="save_it_link" style="color: green; cursor: inherit;" >Receipt is saved</div>
				<% end %>
			<% end %>	
		</div>
		
		<div class="page" id="page_1">
			<div class="grid_10" id="logger_payments">	
				<img src="/images/HFI_logo.png" id="hfi_logo"/>
				<div id="receipt_header">Logger Receipt</div>
				
				<div id="hfi_address_box">
					<div class="address_rows">10 South Parkway Avenue Suite 201</div>
					<div class="address_rows">Battle Ground, WA 98604</div>
					<div class="address_rows">Ph. 360-723-5523</div>
					<div class="address_rows">Fax. 360-723-5522</div>
				</div>
				
				<div id="details_box">
					<table>
						<tr>
							<td class="headers">Job</td>
							<td class="table_data"><%= @job.name %></td>
						</tr>
						<tr>
							<td class="headers">Logger</td>
							<td class="table_data"><%= @job.logger.name %></td>
						</tr>
						<tr>
							<td class="headers">Landowner</td>
							<td class="table_data"><%= @job.owner.name %></td>
						</tr>
					</table>
				</div>
				
				<div id="job_items_box">
					<table>
						<tr>
							<th>Payment Number</th>
							<th>Date</th>
							<th></th>
							<th>Description</th>
							<th></th>
							<th style="text-align: right;">Amount</th>
						</tr>
						
						<tr>
							<td><%= @payment_num %></td>
							<td><%= @date_string %></td>
							<td></td>
							<td>Logging pay</td>
							<td></td>
							<% if @deduction_items.length == 0 %>
								<td style="text-align: right;"><div style="float: right; border-bottom: solid 1px black; width: 110px;"> + $ <%= @total_wo_deductions %> </div></td>
							<% else %>
								<td style="text-align: right;"> + $ <%= @total_wo_deductions %> </td>
							<% end %>
						</tr>
					<% @ac = ApplicationController.new %>
					
					<% @deduction_items.each do |i| %>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td><%= i[0] %></td>
								<td></td>
								<% if i == @deduction_items.last %>
									<td style="text-align: right;"> <div style="float: right; border-bottom: solid 1px black; width: 110px;">- $ <%= @ac.give_pennies(i[1].to_i) %> </div></td>
								<% else %>
									<td style="text-align: right;"> - $ <%= @ac.give_pennies(i[1].to_i) %> </td>
								<% end %>
							</tr>
						<% end %>
												
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="tp">Total to be paid </td>
							<td class="to" style="text-align: right;">+ $ <%= @total %> </td>
						</tr>
						
						<% unless @notes.nil? || @notes == "" %>
							<tr>
								<td id="Incredible_invisible_text">Ooh, you got me!</td>
							</tr>
							
							<tr>	
								<td><span style="font-weight: bold;">Notes:</span> <%= @notes %></td>							
							</tr>
						<% end %>
			
					</table>
				</div>
			</div>
		</div>
		
		<br/>
		
		
		<div id="page_2" class="landscape_page">
			<div id="receipt_tickets_header">Ticket details</div>
			<div class="tickets_table_box">
				<table>
					<tr>
						<th>General</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th>Amounts</th>
						<th></th>
					</tr>
					<tr>
						<th>Ticket #</th>
						<th>Delivery Date</th>
						<th>Destination</th>
						<th>Wood Type</th>
						<th>MBF</th>
						<th>Tons</th>
						<th>Rate</th>
						<th>Load Pay</th>
						<th>Logger Pay</th>
					</tr>
					
					<% @tickets.each do |i| %>
						<% @rate = LoggerRate.find_by_destination_id_and_job_id_and_partner_id(i.destination_id, i.job_id, @logger.id) %>
						<tr>
							<td><%= i.number %></td>
							<td><%= i.delivery_date.strftime("%m/%d/%Y") %></td>
							<td><%= shorten i.destination.name %></td>
							<td><%= WoodType.find(i.wood_type).name %></td>
							<td><%= i.net_mbf %></td>
							<td><%= i.tonnage %></td>
							<td><%= "#{@rate.rate}/#{@rate.rate_type[0..2].upcase}" %></td>
							<td class="dollars_td">$ <%= @ac.give_pennies(i.value) %></td>
							<td class="dollars_td">$ <%= @ac.give_pennies(i.logger_value) %></td>
						</tr>					
					<% end %>
					
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<th>Totals:</th>
						<th class="dollars_td totals">$ <%= @ac.give_pennies(@load_pay_total) %></th>
						<th class="dollars_td totals">$ <%= @ac.give_pennies(@logger_total) %></th>						
					</tr>
				</table>	
			</div>
		</div>
	</body>
</html>

<% if @old.nil? %>
	<script>
		function save_the_receipt () {
			
			<% @ids = ""; @tickets.each {|i| if i == @tickets.first then  @ids = "?tickets[]=#{i.id}" else @ids = "#{@ids}&tickets[]=#{i.id}" end} %>
			<% @deductions = ""; @deduction_items.each {|i| @deductions = "#{@deductions}&deductions_list[]=#{i[0]}"} %>
			<% @values = ""; @deduction_items.each {|i| @values = "#{@values}&deductions_values[]=#{i[1]}"} %>
			
			var ids = '<%= @ids %>';
			var values = '<%= @values %>';
			var items =  '<%= @deductions %>';
			var url = ids+"&logger_id=<%= @logger.id %>&payment_num=<%= @payment_num %>&notes=<%= @notes %>"+values+items+'&payment_total=<%= @total %>';
			
			$.ajax ({
				url: '/save_logger_receipt/'+url,
				cache: false,
				success: function () {
					
				}
			});
		}
	</script>
<% end %>
